<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
 <div class=" p-8 max-w-4xl mx-auto my-10 shadow-lg rounded-lg h-full w-full bg-gray-300 bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-0   ">
  <h1 class="text-3xl font-bold text-white mb-6 text-center">How to use this app </h1>
  <p class="first-letter:list-decimal pl-6 space-y-2 mb-6 text-white">
  2012年のウエストミンスター大学の研究では、体重50㎏の女性が90分のホラー映画を観ると、30分間ほどウォーキングをしたのと同じ約113カロリーを消費することが明らかになっています。 恐い映像やホラー映画の視聴後に感じる疲労感は、恐怖や緊張によって引き起こされる心拍数の上昇や基礎代謝の増加により、カロリーが消費されると考えられます
  </p>
   
    

   


 </div>
 


  </body>
</html>

