@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap')

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-9 {
    @apply border-none transition-all duration-300 overflow-hidden relative;
  }
  .btn-9:after {
    @apply absolute top-0 left-0 w-full h-full bg-[#1fd1f9] bg-gradient-to-br from-[#1fd1f9] to-[#b621fe] transition-all duration-300;
    content: "";
    z-index: -1;
  }
  .btn-9:hover {
    @apply bg-transparent text-white;
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5), -4px -4px 6px 0 rgba(116, 125, 136, .2), inset -4px -4px 6px 0 rgba(255,255,255,.5), inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  }
  .btn-9:hover:after {
    transform: scale(2) rotate(180deg);
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5), -4px -4px 6px 0 rgba(116, 125, 136, .2), inset -4px -4px 6px 0 rgba(255,255,255,.5), inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}